
        <link rel="stylesheet" type="text/css" href=" https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf8" 
        src="https://code.jquery.com/jquery-3.5.1.js"></script>
         <script type="text/javascript" charset="utf8" 
        src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
         <script type="text/javascript" charset="utf8" 
        src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
         <script type="text/javascript" charset="utf8" 
        src=" https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
         <script type="text/javascript" charset="utf8" 
        src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
         <script type="text/javascript" charset="utf8" 
        src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
         <script type="text/javascript" charset="utf8" 
        src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
         <script type="text/javascript" charset="utf8" 
        src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>

    
   
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Report</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ms-auto">
                                 <li><a href="/admin" class="fw-normal">Dashboard</a></li>
                            </ol>
                            
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            </div>
            <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    
                        <div class="row">
                        <form action="/admin/orderSales" method="POST">
            <label >Find orders report from:</label>
            <input type="date" id="fromDate" onclick="fromClick()" name="fromDate" required />
            <label >TO:</label>
            <input type="date" id="toDate" onclick="toClick()" name="toDate" required />
            {{!-- <input type="submit" value="filter"> --}}
            <button type="submit" style="border-radius: 5px; background-color: #c0c9c98f;">filter</button>
          </form>
                    </div>
        
          </div>
        </div>
     
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            {{!-- <h3 class="box-title">Basic Table</h3>
                            <p class="text-muted">Add class <code>.table</code></p> --}}
                            <div class="table-responsive">
                                <table class="table text-nowrap" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">#</th>
                                            <th class="border-top-0">Name</th>
                                            <th class="border-top-0">Plan</th>
                                            <th class="border-top-0">price</th>
                                            <th class="border-top-0">Payment Via</th>
                                            <th class="border-top-0">Validity</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                        {{#each report}}
                                        <tr>
                                            <td>{{inc @index}}</td>
                                            <td>{{this.employer}}</td>
                                            <td>{{this.price}}</td>
                                            <td>{{this.paymentMethod}}</td>
                                            <td>{{this.validity}}</td>
                                            <td style="color: green;">{{this.status}}</td>
                                        </tr>
                                       {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
 
            </div>
           
        </div>

    </div>
  

<script>
$(document).ready(function() {
    $('#dataTable').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
</script>

<script>
    function toClick(){
    var to = document.getElementById('toDate')
    var from = document.getElementById('fromDate').value
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0');
    var yyyy = today.getFullYear();
    today = yyyy + '-' + mm + '-' + dd;
    to.setAttribute("max", today); 
    to.setAttribute("min",from)
  }

function fromClick(){
  var to = document.getElementById('toDate').value
  var from = document.getElementById('fromDate')
  from.setAttribute("max", to);
}
</script>
