<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



<header>
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="top-header-full">
                        <div class="top-left-hd">
                            <ul>
                                <li>
                                    <div class="wlcm-text">Welcome to Jobby</div>
                                </li>

                            </ul>
                        </div>
                        {{#if users}}
                        <div class="top-right-hd">
                            <ul>
                                <li class="dropdown">
                                    <a href="#" class="icon14 dropdown-toggle-no-caret" role="button"
                                        data-toggle="dropdown">
                                        <i class="fas fa-envelope"></i>
                                        {{#if test}}
                                        <div class="circle-alrt"></div>
                                        {{/if}}
                                    </a>
                                    <div class="dropdown-menu message-dropdown dropdown-menu-right">
                                        {{#if test}}
                                        {{#each_upto test 1}}
                                        <div class="user-request-list">
                                            <div class="request-users">
                                                <div class="user-request-dt">
                                                    <a href="/machine-test/{{this._id}}"><img src="/profile-photos/{{this.empId}}.jpg" alt="">
                                                        <div class="user-title1">{{this.companyname}} </div>
                                                        <span>Open to Start</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each_upto}}
                                        {{else}}
                                        <div class="user-request-list">
                                            <div class="request-users">
                                                <div class="user-request-dt">
                                                        <span>No Current tests</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        {{/if}}
                                        
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <div class="dropdown-menu message-dropdown dropdown-menu-right">
                                        <div class="user-request-list">
                                            <div class="request-users">
                                                <div class="user-request-dt">
                                                    <a href="#">
                                                        <div class="noti-icon"><i class="fas fa-users"></i></div>
                                                        <div class="user-title1">Rock William </div>
                                                        <span>applied for a <ins class="noti-p-link">Php
                                                                Developer</ins>.</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="user-request-list">
                                            <div class="request-users">
                                                <div class="user-request-dt">
                                                    <a href="#">
                                                        <div class="noti-icon"><i class="fas fa-bullseye"></i></div>
                                                        <div class="user-title1">Johnson Smith</div>
                                                        <span>placed a bid on your <ins class="noti-p-link">I Need a
                                                                ...</ins></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="user-request-list">
                                            <div class="request-users">
                                                <div class="user-request-dt">
                                                    <a href="#">
                                                        <div class="noti-icon"><i class="fas fa-exclamation"></i></div>
                                                        <span class="pt-2">Your job listing <ins
                                                                class="noti-p-link">Wordpress Developer</ins> is
                                                            expiring.</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="user-request-list">
                                            <a href="/getnotification" class="view-all">View All Notifications</a>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="account order-1 dropdown">
                                        <a href="#" class="account-link dropdown-toggle-no-caret" role="button"
                                            data-toggle="dropdown">
                                            {{#if users.status}}
                                            <div class="user-dp"><img src="/profile-photos/{{users._id}}.jpg" alt="">
                                            </div>
                                            {{else}}
                                            <div class="user-dp"><img src="/images/profile_dp.jpg" alt=""></div>
                                            {{/if}}
                                            <span>{{users.firstname}} {{users.lastname}}</span>
                                            <i class="fas fa-sort-down"></i>
                                        </a>
                                        <div class="dropdown-menu account-dropdown dropdown-menu-right">
                                            <a class="link-item" href="/profile">Profile</a>
                                            <a class="link-item" href="/logout">Logout</a>
                                        </div>
                                    </div>
                                </li>


                            </ul>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-header" style="z-index: 98;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-dark1 justify-content-sm-start">
                        <a class="order-1 order-lg-0 ml-lg-0 ml-3 mr-auto" href="/"><img
                                src="images/logo.svg" alt=""></a>
                        <button class="navbar-toggler align-self-start" type="button">
                            <i class="fas fa-bars"></i>
                        </button>
                        <div class="collapse navbar-collapse d-flex flex-column flex-lg-row flex-xl-row justify-content-lg-end bg-dark1 p-3 p-lg-0 mt1-5 mt-lg-0 mobileMenu"
                            style="justify-content: center !important;" id="navbarSupportedContent">
                            <ul class="navbar-nav align-self-stretch">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a href="/jobs" class="nav-link" >Find Jobs</a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a href="/companies" class="nav-link">Find Companies</a>
                                        
                                    <div class="dropdown-menu pages-dropdown">
                                        <a class="link-item" href="browse_companies.html">Browse Companies</a>
                                        <a class="link-item" href="other_company_profile.html">Company Profile</a>
                                    </div>
                                </li>
                                {{#if LiveSearch}}
                                 <li>
                                     <div>
                                         {{#if JobsOnly}}
                                         <input class="form-control" id="myInput2" name="keyword" value="" placeholder="Keyword Search">
                                         {{else}}
                                         <input class="form-control" id="myInput" name="keyword" value="" placeholder="Keyword Search">
                                    {{/if}}
                                    </div>
                                </li>
                                {{/if}}       
                            </ul>

                        </div>
                        <div class="responsive-search order-1">
                            <input type="text" class="rsp-search" placeholder="Search...">
                            <i class="fas fa-search r-sh1"></i>
                        </div>
                    </nav>
                    <div class="overlay"></div>
                </div>
            </div>
        </div>
    </div>
</header>

{{#if search}}
<main class="body-section">
    <div class="Search-section">
        <div class="container">
            <form action="/UserSearch" method="POST">
            <div class="row">
                    <div class="col-lg-4 col-md-3 col-12">
                        <div class="form-group mb-0">
                            <input class="search-1" name="Search1" type="text" placeholder="Jobtype( Job Title, Position...)">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12">
                        <div class="form-group mb-0 mt-15">
                            <input class="search-1" name="Search2" type="text" placeholder="Availabilty (e.g. Full time,part time...)">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12 mt-15">
                        <div class="form-group mb-0">
                            <input class="search-1" name="Search3" type="text" placeholder="Location (e.g. City, Country...)">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-12 mt-15">
                        <button class="srch-btn"  type="submit">Search Now</button>
                    </div>
            </div>
            </form>
        </div>
    </div>
</main>
{{/if}}

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
      	 console.log("sasi is on fire")
	 document.getElementById('categoryHide').style.display='none'
	 document.getElementById('bannerHide').style.display='none'
	 document.getElementById('achivementsHide').style.display='none'
     document.getElementById('headingHide').style.display='none'
	 document.getElementById('BrowseHide').style.display='none'
	 document.getElementById('titleHide').style.display='none'
     document.getElementById('ButtonHide').style.display='none'

    var value = $(this).val().toLowerCase();
    $(".item").filter(function() {
      $(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
	if(value==''){
		 document.getElementById('categoryHide').style.display='block'
	     document.getElementById('bannerHide').style.display='block'
	     document.getElementById('achivementsHide').style.display='block'
         document.getElementById('headingHide').style.display='block'
	 document.getElementById('BrowseHide').style.display='block'
	 document.getElementById('titleHide').style.display='block'
     document.getElementById('ButtonHide').style.display='block'
     
	}
  });
});
</script>
<script>
$(document).ready(function(){
  $("#myInput2").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".job-item").filter(function() {
      $(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>