<link href="/main/css/stylemade.css" rel="stylesheet" />
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"
></script>

<main class="browse-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="main-heading bids_heading">
          <h2>Create Company Profile</h2>
          <div class="line-shape1">
            <img src="/images/line.svg" alt="" />
          </div>
        </div>
        <div class="post501">
          <form
            method="POST"
            action="/employer/emp-edit-profile/{{employers._id}}"
            id="edit-profile"
            enctype="multipart/form-data"
          >
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="label15">Profile Avtar*</label>
                  <div class="avtar_dp">
                    {{#if employers.status}}
                      <img
                        id="imgview1"
                        src="/profile-photos/{{employers._id}}.jpg"
                        alt=""
                      />
                    {{else}}
                      <img id="imgview" src="/images/profile_dp.jpg" alt="" />
                    {{/if}}
                  </div>

                  <div class="image-upload-wrap1 ml5">
                    <input
                      class="file-upload-input1"
                      type="file"
                      name="image1"
                      id="file1"
                      class="form-control"
                      onchange="return fileValidation1()"
                    />
                    <div class="drag-text1">
                      Upload Files
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                  <label class="label15">Company Name*</label>
                  <input
                    type="text"
                    class="job-input"
                    name="companyname"
                    placeholder="Your Company Name"
                    value="{{employers.companyname}}"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="label15">Email Address*</label>
                  <input
                    type="email"
                    class="job-input"
                    name="email"
                    placeholder="Enter Your Email Address"
                    value="{{employers.email}}"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="label15">Launch Date*</label>
                  <div class="smm_input">
                    <input
                      type="date"
                      class="job-input"
                      name="launch_date"
                      value="{{employers.launch_date}}"
                      placeholder="Select Launch Date"
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="label15">About Description*</label>
                  <div class="description_dtu">
                    <input
                      class="textarea70"
                      name="discription"
                      placeholder="Describe your experience, skills, etc. In complete details. "
                      value="{{employers.discription}}"
                    />
                  </div>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                  <label class="label15">Skills*</label>
                  <input
                    type="text"
                    class="job-input"
                    name="skills"
                    placeholder="Enter the skills you prefer eg: Nodejs,python"
                    value="{{employers.skills}}"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="label15">Contact Number*</label>
                  <div class="smm_input">
                    <input
                      type="tel"
                      class="job-input"
                      onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                      id="phone"
                      name="mobile"
                      value="{{employers.mobile}}"
                      placeholder="Enter Your Contact Number"
                    />
                  </div>
                  <label
                    style="display: none;"
                    id="phone-error"
                    class="error"
                    for="phone"
                  >This field is required.</label>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="label15">Area of Involvment*</label>
                  <div class="smm_input">
                    <input
                      type="tel"
                      class="job-input"
                      name="field"
                      value="{{employers.field}}"
                      placeholder="Enter Your Area of Involvment"
                    />
                  </div>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                  <label class="label15">Language*</label>
                  <input
                    type="text"
                    class="job-input"
                    name="language"
                    placeholder="Enter the language you prefer eg:English,Hindi"
                    value="{{employers.language}}"
                  />
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                  <label class="label15">Location*</label>
                  <div class="smm_input">
                    <input
                      type="text"
                      name="location"
                      class="job-input"
                      value="{{employers.location}}"
                      placeholder="Type Address"
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="label15">Websites*</label>
                  <div class="smm_input5">
                    <input
                      type="text"
                      name="link1"
                      class="website-input"
                      value="{{employers.link1}}"
                      placeholder="http://entercompanysite.com/"
                    />
                    <div class="loc_icon5"><i class="fas fa-globe"></i></div>
                  </div>
                  <div class="smm_input5">
                    <input
                      type="text"
                      name="link2"
                      class="website-input"
                      value="{{employers.link2}}"
                      placeholder="http://enterblogsite.com/"
                    />
                    <div class="loc_icon5"><i class="far fa-edit"></i></div>
                  </div>
                  <div class="smm_input5">
                    <input
                      type="text"
                      name="3"
                      class="website-input"
                      value="{{employers.link3}}"
                      placeholder="http://enterportfoliosite.com/"
                    />
                    <div class="loc_icon5"><i class="fas fa-columns"></i></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <button
                  class="post_jp_btn"
                  id="confirm-btn"
                  type="submit"
                >Finish Company Profile</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <div class="main-heading bids_heading pjfaq80">
          <h2>FAQ</h2>
        </div>
        <div class="jp_faq">
          <div class="jp_faq_item">
            <h4>01. Complete your profile</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Pellentesque elementum mi at erat egestas, nec porta diam
              pharetra.</p>
          </div>
          <div class="jp_faq_item">
            <h4>02. Upload a profile picture</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Pellentesque elementum mi at erat egestas, nec porta diam
              pharetra.</p>
          </div>
          <div class="jp_faq_item">
            <h4>03. Be honest about availability</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Pellentesque elementum mi at erat egestas, nec porta diam
              pharetra.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- The Modal -->
  <div id="myModalA" class="modal">

    <!-- Modal content -->
    <div class="modal-content" style="min-width: 300px;">
      <button id="close" class="close"><span
          style="margin-left: 93%;"
        >&times;</span></button>
      <div id="image-box"></div>
      <button
        class="main_lg_btn"
        style="display: none;"
        id="crop-btn"
      >Crop</button>
    </div>
  </div>

</main>

<script src="/main/js/scriptmade.js"></script>