<!DOCTYPE html>
<html>
  <head>
    <title>Jobby</title>
    {{#if user}}
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, shrink-to-fit=9">
<meta name="description" content="Gambolthemes">
<meta name="author" content="Gambolthemes">
<title>Jobby - Home</title>

<link rel="icon" type="image/png" href="/images/fav.png">

<link href="/user/css/jquery.range.css" rel="stylesheet">
<link href="/user/css/responsive.css" rel="stylesheet">
<link href="/user/css/style.css" rel="stylesheet">
<link href="/user/css/datepicker.min.css" rel="stylesheet">
<link href="/user/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/user/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="/user/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
<link href="/user/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/user/vendor/semantic/semantic.min.css">

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">


{{/if}}

{{#if admin}}
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Ample lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Ample admin lite dashboard bootstrap 5 dashboard template">
    <meta name="description"
        content="Ample Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Ample Admin Lite Template by WrapPixel</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/" />
    <!-- Favicon icon -->
      <link rel="icon" type="image/png" href="/images/fav.png">
    <!-- Custom CSS -->
    <link href="/admin/plugins/bower_components/chartist/dist/chartist.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/admin/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css">
    <!-- Custom CSS -->
    <link href="/admin/css/style.min.css" rel="stylesheet">
    <link href="/main/css/stylemade.css" rel="stylesheet">
{{/if}}

{{#if log}}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, shrink-to-fit=9">
<meta name="description" content="Gambolthemes">
<meta name="author" content="Gambolthemes">
<title>Jobby - Home</title>

<link rel="icon" type="image/png" href="/images/fav.png">
<link href="/main/css/stylemade.css" rel="stylesheet">
<link href="/user/css/jquery.range.css" rel="stylesheet">
<link href="/user/css/responsive.css" rel="stylesheet">
<link href="/user/css/style.css" rel="stylesheet">
<link href="/user/css/datepicker.min.css" rel="stylesheet">
<link href="/user/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/user/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="/user/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
<link href="/user/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/user/vendor/semantic/semantic.min.css">

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>

{{/if}}

{{#if employer}}
 <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, shrink-to-fit=9">
<meta name="description" content="Gambolthemes">
<meta name="author" content="Gambolthemes">
<title>Jobby - Home</title>
<link href="/main/css/stylemade.css" rel="stylesheet">
<link rel="icon" type="image/png" href="/images/fav.png">

<link href="/user/css/jquery.range.css" rel="stylesheet">
<link href="/main/css/stylemade.css" rel="stylesheet">
<link href="/user/css/responsive.css" rel="stylesheet">
<link href="/user/css/style.css" rel="stylesheet">
<link href="/user/css/datepicker.min.css" rel="stylesheet">
<link href="/user/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/user/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="/user/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
<link href="/user/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/user/vendor/semantic/semantic.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script	src="https://www.paypal.com/sdk/js?client-id=AZi9zseRSu3nZsUbOiZRdo8Ut34Ej88EZQIm-wYLNk174-1G19giFU3PSO3sGtXXjnlAfCVAAKkZtpv1"></script>
{{/if}}

  </head>
  <body>
    {{#if user}}
    {{>user-header}}
    {{/if}}
    {{#if admin}}
    {{>admin-header}} 
    {{/if}}
    {{#if employer}}
    {{>employer-header}}
    {{/if}}
    {{{body}}}
    {{#if user}}
    {{>user-footer}}
    {{/if}}
    {{#if employer}}
    {{>employer-footer}}
    {{/if}}
  </body>
  {{#if user}}
{{#if formIn}}

{{else}}
<script src="/user/js/jquery.min.js"></script>
{{/if}}
<script src="/user/js/datepicker.min.js"></script>
<script src="/user/js/i18n/datepicker.en.js"></script>
<script src="/user/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/user/vendor/OwlCarousel/owl.carousel.js"></script>
<script src="/user/vendor/semantic/semantic.min.js"></script>
<script src="/user/js/custom1.js"></script>
<script src="/user/js/jquery.range-min.js"></script>

<script src='https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js'></script>
<script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>

{{/if}}

{{#if admin}}
{{#if minJS}}
{{else}}
 <script src="/admin/plugins/bower_components/jquery/dist/jquery.min.js"></script>
 {{/if}}
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/admin/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/js/app-style-switcher.js"></script>
    <script src="/admin/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!--Wave Effects -->
    <script src="/admin/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/admin/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/admin/js/custom.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="/admin/plugins/bower_components/chartist/dist/chartist.min.js"></script>
    <script src="/admin/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="/admin/js/pages/dashboards/dashboard1.js"></script>
    <script src="/main/js/scriptmade.js"></script>


{{/if}}

{{#if log}}
<script src="/user/js/datepicker.min.js"></script>
<script src="/user/js/i18n/datepicker.en.js"></script>
<script src="/user/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/user/vendor/OwlCarousel/owl.carousel.js"></script>
<script src="/user/vendor/semantic/semantic.min.js"></script>
<script src="/user/js/custom1.js"></script>
<script src="/user/js/jquery.range-min.js"></script>

<script src='https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js'></script>
<script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script> 
<script src="/main/js/scriptmade.js"></script>

{{/if}}

{{#if employer}}
{{#if formIn}}


{{else}}
{{#if formfor}}

{{else}}
<script src="/user/js/jquery.min.js"></script>
{{/if}}
{{/if}}
<script src="/user/js/datepicker.min.js"></script>
<script src="/user/js/i18n/datepicker.en.js"></script>
<script src="/user/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/user/vendor/OwlCarousel/owl.carousel.js"></script>
<script src="/user/vendor/semantic/semantic.min.js"></script>
<script src="/user/js/custom1.js"></script>
<script src="/user/js/jquery.range-min.js"></script>

<script src='https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js'></script>
<script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script> 
<script src="/main/js/scriptmade.js"></script>
{{/if}}
</html>
